{
  "extends": "benjick",
  "globals": {
    "Meteor": true
  },
  "settings": {
    "import/resolver": "meteor",
    "import/core-modules": [ "meteor" ]
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5",
      "bracketSpacing": false,
      "jsxBracketSameLine": true,
      "parser": "flow"
    }]
  }
}
